omegaconf==2.3.0
tqdm==4.66.4
einops==0.8.0
vector_quantize_pytorch
transformers~=4.41.2
vocos
IPython
celluloid==0.2.0
librosa==0.10.1
matplotlib==3.9.0
numpy==1.26.4
omegaconf==2.3.0
pandas==2.2.2
ptflops==0.7.1.2
rich==13.7.1
scipy==1.13.1
soundfile==0.12.1
resampy==0.4.2
tabulate==0.8.10
gradio==4.32.2
jieba==0.42.1
srt==3.5.3
pypinyin==0.51.0
cn2an